.wrapper {
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    text-align: center;
    background-color: rgba(22, 22, 33, .9);
    border-radius: 10px;
}

.scrollbar {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 70px;
}

.post {
    max-width: 100%;
    color: white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.text {
    display: inline-block;
    line-height: 1.5em !important;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    padding: 20px 15px 40px 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    color: #ddd;
}

.date {
    height: 20px;
    display: inline-block;
    padding: 15px 10px;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: .4;

    color: #aaa;
    font-weight: bold;
    font-size: 15px;
}

.full-size {
  position: absolute;
  bottom: 5px; right: 5px;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 0;
  border: 0;
  font-size: 21px;
  opacity: .6;
  border-radius: 50%;
  color: #444;
  z-index: 10;
}


.likes {
    position: absolute;
    bottom: 9px; right: 9px;
    box-sizing: border-box;
    border-radius: 17px;
    height: 30px;
    overflow: hidden;
    background-color: rgba(220, 220, 250, .9);

    color: #444;
    font-weight: bold;
    margin: auto;
}

.likes .count {
    font-weight: bold;
    font-size: 18px;
    height: 30px;
    float: right;
}

.likes .count .text {
  padding: 1px;
  color: #d33;
  min-width: 32px;
  font-weight: 700;
  font-size: 17px;
}

.likes .count:hover .text {
    filter: invert(100%);
}

.likes .heart {
  padding: 3px;
    display: inline-block;
    float: left;
    box-shadow: 5px 0px 4px -5px rgba(20, 20, 29, .6);
}

.heart img {
    width: 25px;
    height: 25px;
}

.heart:hover img {
    filter: invert(100%);
}

.likes .count, .likes .heart {
    min-width: 30px;
    transition: background-color .5s;
    display: inline-block;
}

.likes .count:hover, .likes .heart:hover {
    background-color: #66a;
}

.user_ho_liked_wrp {
    max-width: 0px;
    height: 30px;
    overflow: hidden;
    float: left;
}
.user_ho_liked {
    width: 30px;
    height: 30px;
    float: left;
    background-color: #33aa33;
    border-radius: 15px;
}

.likers-wrp {
  width: 500px;
  overflow: hidden;
  position: relative;
  height: 700px;
}

@media (max-height: 800px) {
  .likers-wrp {
    height: 650px;
  }
}

@media (max-height: 700px) {
  .likers-wrp {
    height: 550px;
  }
}

@media (max-height: 600px) {
  .likers-wrp {
    height: 450px;
  }
}

@media (max-height: 500px) {
  .likers-wrp {
    height: 350px;
  }
}

@media (max-height: 400px) {
  .likers-wrp {
    height: 250px;
  }
}

@media (max-height: 300px) {
  .likers-wrp {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .likers-wrp {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .likers-wrp {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .likers-wrp {
    width: 280px;
  }
}


/*-------------------------*/
.criss_cross {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 9px; right: 9px;
}

.post_picture_wrp {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.post_picture {
    position: relative;
    display: block;
    margin: auto;
}

.fetching {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
