.wrp {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px; right: 0px;
    box-sizing: border-box;
}

.wrp a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.wrp:hover a img {
    background-color: red;
}
