.wrp {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px; right: 0px;
    box-sizing: border-box;
}

.wrp  svg {
  color: #99a;
}

.wrp:hover svg {
  color: #fff;
}

.wrp:hover a img {
    background-color: red;
}
