.wrp{
  display: inline-block;
}

.container {
}

.container button {
    display: block;
    border-radius: 5px;
    padding: 0 0px;
  font-size: 14px !important;
  line-height: .1em;
}

.container button:hover{
  border: 1px #aaa solid;
}

.followed {
  border: 1px #999 solid;
    border-radius: 5px;

}

.follow {
  color: #fff;
  background-color: #f66;
}

.me {
  color: white;
  cursor: default;
}

.me:hover {
  border: none !important;
}
