.wrp {
  width: 100%;
  height: 100%;
  position: relative;
}

.scrollbar {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.item-dialog {
    width: 90%;
    height: 125px;
    margin: 15px auto;
    box-sizing: border-box;
    background-color: rgba(150, 150, 170, .1);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none !important; 


    display: grid;
    grid-template-areas: "container-left container-middle container-right";
    grid-template-columns: 150px 1fr 90px;
}

.item-dialog:hover {
    background-color: rgba(150, 150, 170, .2);
}

/* -------------------------*/
.container-left {
}

.avatar {
    width: 115px;
    height: 115px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius:78px;
}

/* -------------------------*/
.container-middle {
  display: grid;
  grid-template-areas: 
  "name"
  "last-message";
  grid-template-rows: 1fr 30px 10px;
}

.name > h3 {
  text-decoration: none !important; 
  text-decoration-underline: none !important;
}

.last-message {
}

.last-message > span {
  float: right;
  font-style: oblique;
  font-weight: 100;
  padding-right: 10px;
  color: rgba(255, 255, 255, .4);
}

/* -------------------------*/
.container-right {

}

.time {
  margin-right: 5px;
  float: right;

  font-size: 15px;
  font-stretch: ultra-condensed;
  color: rgba(255, 255, 255, .4);
}

/* div { */
/*   border: 1px red solid; */
/* } */
