.current_item {
    background-color: #555555 ;
}

.item {
    height: 40px;
    width: 100%;
    display: block;
    font-size: 20px;
    padding: 6px;
    box-sizing: border-box;
}
.item:hover{
    background-color: #9988aa;
    transition: background-color .8s linear .2s;
    animation: hover_item_animation 2s infinite;
    animation-delay: 1s;
}

.active {
    background-color: #aaaaaa !important;
}

.text {
    text-decoration: none;
    color: white;
}

@keyframes hover_item_animation {
    0%  { background-color: #9988aa;}
    50%  { background-color: #776688;}
    100%  { background-color: #9988aa;}
}
