.current_item {
    background-color: #555555 ;
}

.item {
    height: 60px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60px 1fr 50px;
    justify-items: start;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.item:hover {
    background-color: rgba(200, 200, 230, .2);
}

.item svg {
  margin-left: 20px;
  color: #99a;
}

.item:hover svg {
  color: #fff;
}
.text {
    text-decoration: none;
}

