.wrp {
  width: 45px;
  height: 70px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  opacity: .9;
}

.container {
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  border: 0px;
  outline: none;

  background-color: rgba(180, 180, 210, .7);
}

.container:hover {
  background-color: rgba(180, 180, 210, .9);
  opacity: .7;
}

