.loader {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader_image {
    width: 30px;
    border-radius: 15px;
    position: absolute;
    top: 30%; left: 50%;
    margin: 0 -15px 0 15px;
    
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}
