.content {
    grid-area: cnt;

    background-color: #ffeeff;
}

.poster {
    width: 100%;
    height: 150px;
}

.profil_info {
    display: inline-block;
}

.avatar {
    width: 70px;
    float: left;
}

.description {
    float: left;
}

.posts {
}
