.posts {
    display: grid;
    margin-top: 20px;
    padding: 10px 0px 0px 30px;
    background-color: #aabbff;
    grid-gap: 20px;
}

.wrapper {
    margin-top: 40px;
}

.wrapper > .textarea {
    width: 500px;
    height: 200px;
}
