.posts {
    display: grid;
    margin-top: 5px;
    padding: 10px 0px 0px 30px;
    grid-gap: 20px;
}

.wrapper {
    margin-top: 40px;
}

.wrapper > .textarea {
    width: 500px;
    height: 200px;
}

.create_post_button {
    width: 150px;
    height: 40px;
    background-color: #444455;
    color: white;
    font-size: 14px;
}
