.dialog__item {
    background-color: #ff88ff;
    width: 80%;
    height: 30px;
    margin: 10px auto;
    text-align: center;
}

.dialog__item a {
    text-decoration: none;
}

.dialog__item a.active {
    color: #2233aa;
    text-decoration: none;
}
