.pagination_bar {
    height: 40px;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

.page_number {
    /*
    background-color: #aa33ff;
    */
    background-color: #403050;
    text-align: center;
    width: 40px;
    height: 40px;
    float: left;
    line-height: 1.6em;
    cursor: pointer;
}

.selected_page {
    background-color: #cc88ff;
    font-weight: bold;
}
