.container {
  width: 40px;
  height: 40px;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.container:hover {
  background-color: rgba(255, 255, 255, 1);
}



