.sidebar {
    grid-area: sdb;
    box-shadow: inset 0px 2px 5px 0px rgba(122, 22, 222, .4);;
    background-color: #201530;
}

.auth_data {
    height: 90px;
    color: white;
    background-color: #252059;
}

.menu_item{
    margin-top: 13px;
    display: grid;
    grid-gap: 10px;
}

