.wrapper {
    position: relative;
    display: block;
    width: 99%;
    height: 195px;
    overflow: hidden;
    background-color: rgba(144, 133, 144, .05);
    margin: auto;
}

.poster {
    z-index: -1;
    position: absolute;
    top: -1px; bottom: -1px; left: -1px; right: -1px;
    width: 101%;
    height: 101%;
}

.content {
    width: 50%;
    min-width: 600px;
    height: 185px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    padding: 5px;
    padding-right: 20px;
    margin: 5px;
    margin-left: 15px;
}

.avatar {
    width: 173px;
    height: 173px;
    border-radius: 5px;
    float: left;
}

.description {
    float: left;
    display: block;
    margin-left: 25px;
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.description > * {
    display: inherit;
    margin-top: 10px;
}

.description > div {
    display: inline-block;
}

.name, .address {
    display: inline-block;
    float: left;
    color: white;
    font-size: 24px;
}

.address {
    margin-left: 10px;
    color: #ddd;
    font-style: italic;
}


.email {
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
}

