.wrapper {
  position: relative;
  display: grid;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
}

.change-photo-button {
  position: absolute;
  bottom: 0; right: 0;
  transform: translateX(50%);
}

.change-photo-button button{
  background-color: rgba(0, 0, 0, .0);
  display: inline-block;
  border: 0px;
  border-radius: 10px;
}

.change-photo-button svg {
  color: #99a;
}

.change-photo-button:hover svg {
  color: #fff;
}

.change-photo-button:active svg {
  border: 0;
  outline: none;
}
.change-photo-button:focus svg {
  border: 0;
  outline: none;
}

.list-info {
  padding: 25px 15px 0;
}

.list-info ul {
  margin: 0px;
  padding: 0px;
}

.list-info li {
  display: inline-block;
  list-style-type: none;
  height: 30px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.item-field {
  margin: 0;
  display: block;
  color: #bbc;
  font-size: .9em;
}

.item-data {
  height: 100%;
}

/*-------------------------*/

.input2_wrapper {
}

.input2_wrapper .input {
  background-color: rgba(0, 0, 0, .0);
  color: #99a;
  font: 400 16px Arial;
}

.input2_wrapper .input:focus {
  background-color: rgba(0, 0, 0, .1);
  border: none;
  outline: none;
}

.input2_text {
  width: 100%;
  font: 400 16px Arial;
  color: #99a;
  font-size: 17px !important;
  padding: 0px;
  border: none;
}

.input2_text:focus {
  padding: 0px;
}
.buttons-wrapper {
  margin-top: 30px;
}

.button_wrapper button {
  width: 40px;
  height: 15px;
}

.change-info-cancel {
  float: right;
}
