.wrp {
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.wrp svg {
  border-radius: 1em;
  animation: toggle .7s infinite linear;
}

@keyframes toggle {
  0%  {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}
