.wrp {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
}

.dialog-info {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 250, .1);
}

.history {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 250, .05);
}

.send-message {
  background-color: rgba(200, 200, 250, .1);
}

.send-message-panel-left {
}

.send-message-panel-center {
}


