.wrapper {
    min-width: 900px;
    max-width: 1800px;
    margin: 0 auto;
    height: 100vh; /*на всю высоту*/
    background-color: #010105;

    display: grid;

    grid-template-rows: 0px 1fr;
    grid-template-columns: 250px 1fr;
    grid-gap: 1px;

    grid-template-areas: 
    "hdr hdr"
    "sdb cnt";
}



.content {
    z-index: 10;
    background-color: #ddbbff;
    grid-area: cnt;
    display: grid;
    grid-template-rows: 1fr;

}


