.wrapper {
    min-width: 900px;
    max-width: 1800px;
    margin: 0 auto;
    height: 100vh; /*на всю высоту*/

    display: grid;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 0px;

    grid-template-areas: 
    "hdr hdr"
    "sdb cnt";
}



.content {
    grid-area: cnt;

}


