.wrapper {
    min-width: 600px;
    margin: 0 auto;
    min-height: 800px;

    display: grid;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 8px;

    grid-template-areas: 
    "hdr hdr"
    "sdb cnt";
}


.content {
    grid-area: cnt;

    background-color: #ffeeff;
}


