.wrapper {
}

.input_wrapper {
    width: 100%;
    height: 70%;
}
.input-text-wrp {
    width: 100%;
    height: 250px;
}

.input-text-wrp textarea {
    background-color: #efefff;
}

.input-text-wrp textarea:focus {
    background-color: white;
}

.choose-photo-button-wrp {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.choose-photo-button-wrp button {
    width: 120px;
    height: 100%;
    border-radius: 4px;
    float: left;
}

.choosed-file-name {
    width: 550px;
    float: left;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.choosed-file-name .choosed-file-name-wrp {
    position: absolute;
    bottom: 0;
}

.choosed-file-name .choosed-file-name-wrp span {
    display: inline-block;
    margin-left: 15px;
}

.create-post-button {
    position: absolute;
    bottom: 15px; right: 15px;
}

.button_wrapper button:focus {
    border-width: 10px;
    box-shadow: none;
    outline:none;
}

.button_wrapper button:active {
    outline: 2px solid #9999ff;
}

